<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;
        AttachDbFilename=|DataDirectory|\Shop1DB.mdf;
        Initial Catalog=Shop1DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
      
  <system.web>

		<authentication mode="Forms">
		  <forms name="cookies" timeout="2880" loginUrl="~/Account/Login" />
		</authentication>  
    

  </system.web>
</configuration>