@model CartViewModel

    <div class="container">
        @foreach (var el in Model.cart.cart_items_list)
        {
            <div class="alert alert-warning mt-3">
                <b>Item: </b> @el.item.name<br />
                <b>Adress: </b>@el.item.adress

            </div>
        }

        <hr />
        <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
    </div>
