<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark mb-0">
            <a class="navbar-brand" href="#">LVIVSIGHTSEEINGS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Item/ShowList">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Item/ShowList/planes">Planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Item/ShowList/cars">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cart/">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Home/About">About</a>
                    </li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <b class="font-weight-bold mr-1 ">@User.Identity.Name</b>
                    
                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <button type="submit" class="btn btn-secondary pt-1">Logout</button>
                    </form>
                }
                else
                {
                    <div class="btn-group-sm" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
                        <a type="button" class="btn btn-secondary" asp-controller="Account" asp-action="Register">SignUp</a>
                    </div>
                }
            </div>
        </nav>

    </header>
    
    <div class="container">
        @RenderBody()
    </div>
    @* ------------FOOTER----------------------------- *@
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</body>
</html>
@RenderSection("scripts", required: false)