@model HomeViewModel

    <h3 class="display-2 bg-light mt-5 rounded-lg">Most visited places</h3>

    <div class="row mt-5 mb-2">

        @{
        foreach (Item item in Model.topItems)
        {
            @Html.Partial("AllItems", item)

        }
        }

    </div>