
<h2>@Model.currentCategory</h2>

<div class="album py-5 bg-light">
    <div class="container" style="background-color:aqua;">

        <div class="row">
            

                @{
                    foreach (Item item in Model.allItems)
                    {
                        @Html.Partial("AllItems", item)

                    }
                }

            </div>
            </div>
        </div>

