    <h2>@Model.currentCategory</h2>

    @{
        foreach (var item in Model.getallItems){
            <div>
                    <h2>Name: @item.name</h2>
                    <p>Price: @item.price.ToString("c")</p>
            </div>

        }
     }

