<h3 class="display-2 bg-light mt-5 rounded-lg">@Model.currentCategory</h3>
<div class="album py-5 bg-light rounded-lg mb-5">
    <div class="container" >

        <div class="row">
            

                @{
                    foreach (Item item in Model.allItems)
                    {
                        @Html.Partial("AllItems", item)

                    }
                }

            </div>
            </div>
        </div>

