@model Shop1.ViewModels.LoginViewModel

@*<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>*@
    <div class="text-center">

        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="form-signin ">
            <div class="container mt-5" style="width: 40%; margin:auto;">
                <img class="img-fluid mb-4" src="~/img/logo.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                <label for="inputEmail" class="sr-only" asp-for="Email">Email address</label>
                <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" asp-for="Email">
                <span asp-validation-for="Email"></span>

                <label for="inputPassword" class="sr-only" asp-for="Password">Password</label>
                <input id="inputPassword" class="form-control mt-2" placeholder="Password" required="" asp-for="Password">
                <span asp-validation-for="Password"></span>

                <div class="checkbox mb-3">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />RememberMe
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <p class="mt-5 mb-5 text-muted">© 2019</p>
            </div>
        </form>
    </div>