@model Shop1.ViewModels.RegisterViewModel

<form class="text-center" method="post" asp-controller="Account" asp-action="Register">
    <div class="container" style="width: 40%; margin:auto;">
        <img class="img-fluid mt-5 " src="~/img/logo.png" alt="" width="72" height="72">
        <h2 class="text-center mt-1">Sign-up</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input placeholder="Email address" class="form-control mb-2" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <input placeholder="Country" class="form-control mb-2" asp-for="Country" />
            <span asp-validation-for="Country"></span>
        </div>
        <div>
            <input placeholder="Password" class="form-control mb-2" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input placeholder="Repeat password" class="form-control mb-2" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Sign UP" />
            <p class="mt-5 mb-3 text-muted">© 2019</p>
        </div>
    </div>
</form>